
//@theme "/nix/store/4zz58bpvm85lyl9aq3xv43z4qa55gbal-rofi-1.7.9/share/rofi/themes/gruvbox-dark-hard.rasi"

@theme "/nix/store/4zz58bpvm85lyl9aq3xv43z4qa55gbal-rofi-1.7.9/share/rofi/themes/gruvbox-light-soft.rasi"
