body {
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    overflow-x: hidden;
}

.ffont {
    font-weight: 900;
    font-size: 101%;
}

.inner-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
    margin-right: 33vw;
}

.soccer-video {
    width: 400vw;
    z-index: -1000;
    height: 200vh;
    
}
.over-video{
    position: relative;
    top: -80vh;
    left: 5vw;
    z-index: 1000;
    width: 30vw;
    font-size: larger;
}
.black-bar{
    background-color: rgba(0, 0, 0, 0.603);
    width: 100vw;
    padding-left: 10vw;
    margin-left: -10vw;
    height: 15vh;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px) saturate(0%);
    border: 1px solid black;

    
}
.vsection{
z-index: -1000;

}

.milk {
    color: white;
    z-index: 1000;
}

h1 {
    color: white;
}


header,nav {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(10px) saturate(0%);
    padding: 0.5vw;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}


.full-section {
   display: flex;
   justify-content: center;
   align-items: center;
   width:100vw;
   height: 100vh;
   padding: 0%;
}

header {
padding: 0vw;
border-bottom: 2px solid white;
margin: 0%;
position:relative;
top: -1vw;
left: -1vw;
width: 100vw;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    padding-left: 2vw;
    margin: 0%;
}

.vsection {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    position: fixed;
    top: 0vw;

}